.loginForm {
    margin: 10px;
}

.loginButton {
    /* justify-content: center;
    left: 50%; */
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}